* {
	font-family: arial, sans-serif;
	color: #505050;
}

h1 {
	font-size: 2em;
	text-align: center;	
}

p {
	text-decoration: none;
}

div.box {
	max-width: 700px;
	margin: auto;
	border: double honeydew 1px;
	border-radius: 50%;
	padding: 15px 20px;
	background-color: azure;
}

ul.inline {
	width: 300px;
	margin: auto;
	text-align: center;
}

ul.inline li {
	display: inline-block;
	padding: 10px;
}

ul.inline li:hover {
	color: pink;
}
